bitarray==3.6.1
bitstring==4.3.1
cffi==1.17.1
click==8.2.1
colorama==0.4.6
cryptography==45.0.6
esptool==5.0.2
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
micropython-esp32-s3-stubs==1.20.0.post1
micropython-stdlib-stubs==1.25.0
mpremote==1.26.0
mpy_cross==1.26.0.post2
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.2
pyserial==3.5
PyYAML==6.0.2
reedsolo==1.7.0
rich==14.1.0
rich-click==1.8.9
typing_extensions==4.14.1
